.team-section {
    padding: 6rem 0 4rem 0;
    @media(max-width: 769px){
       padding: 3rem 0; 
    }
}
.team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    
    @media(max-width: 769px){
        grid-template-columns: 1fr 1fr;
        
    }
    @media(max-width: 568px){
        grid-template-columns: 1fr;
        
    }
}
.team-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22rem;
    max-width: 25.351rem;
    border-radius: 10px;
    margin-top: 35px;
    background-color: #ffffff;
    box-shadow: 0 0.1rem 1rem #999;
}
.team-img {
    height: 160.09px;
    width: 253.51px;
    margin-top: -10px;
}
.team-section-header {
    font-size: 2rem;
    color: #C76001;
    margin-bottom: 3rem;
    text-align: center;
}
.team-flex-column {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.team-header {
    margin-left: 2rem;
    font-size: 1.5rem;
}
.team-flex-column-header{
    margin-left: 2rem;
    font-size: 1.3rem;
}
.team-flex-column-img{
    margin-right: 2rem;
}
.twit {
    margin-right: .8rem;
}
.line {
    height: .15rem;
    max-width: 100vw;
    padding: 0 2rem;
    background-color: rgba(153, 153, 153, 0.5);
}