:root {
  --color-primary: #218225;
  --color-secondary: #C76001;
  --color-tertiary: #1A78C2;
  --color-primary-text: #2A303E;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #C89200;
  --color-primary-footer: #131F0D;
  --color-white: #ffffff;
  --color-btn: #FBC533;
  --color-btn-text: #181C23;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background: #eee;
}